.main-layout>.main-layout-body>.sidebar {
    /* height: calc(100% - min(8rem, 80px) - 1px); */
    position: sticky;
    gap: 1.2rem;
    padding: 1.6rem;
    border-right: var(--neutral-bolder-border-color);
    width: fit-content;
    height: calc(100vh - 8rem);
    max-width: 84px;
    /* top: 8rem; */
    left: 0;
    overflow: auto;
    scrollbar-width: none;
}

.main-layout>.main-layout-body>.sidebar .sidebar-item {
    padding: 1.2rem;
    border-radius: 0.8rem;
}

.main-layout>.main-layout-body>.sidebar .sidebar-item.selected {
    background-color: #00358014;
}

/* support-action-sidebar */
/* .support-action {
    flex-wrap: wrap;
    gap: 1.6rem;
} */
