.main-layout>.main-layout-body>.chat-container {
    /* width: calc(100% - 84px); */
    width: 100%;
    flex: 1;
    height: calc(100vh - 8rem); /* Trừ chiều cao của header */
    align-items: flex-start;
    /* background-color: var(--neutral-absolute-background-color); */
}