/* Avatar style */
  .avatar-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .single-avatar {
    position: relative;
  }
  
  .single-avatar-item {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .online-indicator {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 12px;
    height: 12px;
    background-color: var(--secondary2-main-color); /* Màu xanh cho online */
    border: 2px solid white;
    border-radius: 50%;
  }
  
  .group-avatar {
    position: relative;
    width: 4.8rem;
    height: 4.8rem;
  }
  
  .group-avatar-item {
    position: absolute;
    width: 3.429rem;
    height: 3.429rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .group-avatar-item:nth-child(1) {
    left: 1.4rem;
  }
  .group-avatar-item:nth-child(2) {
    top: 1.4rem;
    border: 1px solid #fff;
  }

  .avatar-name {
    font-size: 14px;
    font-weight: bold;
  }

  /* Conversation */
  
  .conversation-container {
    display: flex;
    /* position: relative; */
    gap: 2rem;
    align-items: center;
    padding: 1.6rem 1.2rem;
  }


  .conversation-action {

  }

  .conversation-action {

  }
  
  .isread-conversation {
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--primary-main-color); /* Màu xanh cho online */
    border-radius: 50%;
  }

  .hover-action {
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: #fff;
  }

  /* Chat Style */

  /* Profile Style */
  
  .profile-container {
    width: 20rem;
  }

  /* .list-conversation>.selected {
    background-color: var(--neutral-selected-background-color);
    background-color: red;
  }  */

  /* Ẩn các phần tử con mặc định */
.mess-card .reaction-container,
.mess-card .reply-container {
  display: none;
}

/* Hiển thị các phần tử con khi hover lên parent */
.mess-card:hover .reaction-container,
.mess-card:hover .reply-container {
  display: block;
}